@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="container-fluid">

                <div class="col-12">
            <h2>Không tìm thấy sản phẩm</h2>
            </div>
            </div>
        </div>
    </div>
</div>