@using doanw.Utilities;
@model doanw.Models.Chitietsp
<div class="my-account">

    <form method="post" >
        <div asp-validation-summary="All"></div>
        <div class="container-fluid">
            <div class="row justify-content-center">

                <div class="col-md-6">
                    <div class="tab-content">
                        <h4>Sửa thông tin cá nhân</h4>
                        <div class="form-row">
                            <div class="col-md-6">
                                <label asp-for="UserID">Tên tài khoản</label>
                                <input class="form-control" type="text" asp-for="UserID" placeholder="User">
                                <span asp-validation-for="UserID" class="alert-danger"></span>
                            </div>

                            <div class="col-md-6">
                                <label asp-for="ProductSCID">Phone</label>
                                <input class="form-control" type="text" asp-for="ProductSCID" placeholder="ProductSCID">
                                <span asp-validation-for="ProductSCID" class="alert-danger"></span>
                            </div>

                            <div class="col-md-6">
                                <label asp-for="Quantity">Email</label>
                                <input class="form-control" type="text" asp-for="Quantity" placeholder="">
                                <span asp-validation-for="Quantity" class="alert-danger"></span>
                            </div>


                            <div class="col-md-12">
                                <button type="submit" class="btn">Add</button>

                                <br><br>
                            </div>
                        </div>

                        

                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<!--<div class="my-account">
    <div class="container-fluid">
        <form method="post" asp-action="Edit">
            <div asp-validation-summary="All"></div>
        <div class="row">
            <div class="col-md-9">
                <div class="tab-content">
                    <div class="tab-pane fade" id="account-tab" role="tabpanel" aria-labelledby="account-nav">
                        <h4>Account Details</h4>
                        <div class="row">
                            <div class="col-md-6">
                                <input class="form-control" type="text" asp-for="UserName" placeholder="Last Name">
                                <span asp-validation-for="UserName" class="alert-danger"></span>
                            </div>
                            <div class="col-md-6">
                                <input class="form-control" type="text" asp-for="Phone" placeholder="Mobile">
                                <span asp-validation-for="Phone" class="alert-danger"></span>
                            </div>
                            <div class="col-md-6">
                                <input class="form-control" type="text" asp-for="Email" placeholder="Email">
                                <span asp-validation-for="Email" class="alert-danger"></span>
                            </div>
                            <div class="col-md-12">
                                <input class="form-control" type="text" asp-for="Address" placeholder="Address">
                                <span asp-validation-for="Address" class="alert-danger"></span>
                            </div>
                            <div class="col-md-12">
                                <button type="submit" class="btn">Update Account</button>

                                <br><br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </form>
    </div>
</div>-->
