@model IList<Menu>
@{
    Layout = null;
}
<!-- Nav Bar Start -->
<div class="nav">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
            <a href="#" class="navbar-brand">MENU</a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!--id="navbarCollapse"-->
            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav mr-auto" style="margin-left:auto">

                    @foreach (var menu in Model.Where(m => m.Levels == 1).OrderBy(m => m.MenuOrder))
                    {


                        var Pid = menu.MenuID;

                        var Smenu = Model.Where(m => m.ParentID == Pid).OrderBy(m => m.MenuOrder).ToList();

                        if (Smenu.Count == 0)
                        {
                            <a href="/@menu.ControllerName/@menu.ActionName" class="nav-item nav-link ">@menu.MenuName</a>
                        }
                        else
                        {
                            <div class="nav-item dropdown">
                                <a href="/@menu.ControllerName/@menu.ActionName" class="nav-link dropdown-toggle" data-toggle="dropdown">@menu.MenuName</a>
                                <div class="dropdown-menu">
                                    @foreach (var m in Smenu)
                                    {
                                        <a href="/@m.ControllerName/@m.ActionName" class="dropdown-item">@m.MenuName</a>
                                    }


                                </div>
                            </div>
                        }

                    }

                    <!-- <a href="index.html" class="nav-item nav-link active">Trang chủ</a>
                     <a href="product-list.html" class="nav-item nav-link">Sản phẩm</a>
                     <a href="product-detail.html" class="nav-item nav-link">Chi tiết sản phẩm</a>
                     <a href="cart.html" class="nav-item nav-link">Giỏ hàng</a>
                     <a href="checkout.html" class="nav-item nav-link">Thanh toán</a>
                     <a href="my-account.html" class="nav-item nav-link">Tài khoản</a>-->

                </div>
                <!--<div class="navbar-nav mr-auto">
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Tài khoản</a>
                        <div class="dropdown-menu">
                            <a href="#" class="dropdown-item">Đăng nhập</a>
                            <a href="#" class="dropdown-item">Đăng ký</a>
                        </div>
                    </div>
                </div>-->

            </div>
        </nav>
    </div>
</div>
<!-- Nav Bar End -->